body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  height: 10vh;
  background-color: #96DD99;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar nav a {
  margin: 0 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.main-content {
  background-color: #f0f0f0;
  min-height: 90vh;
  padding: 20px;
}
